[Unit]
Description=Weather Sensor Reciever daemon
After=network.target

[Service]
ExecStart=/home/bediger/server /home/bediger/temp4.out 10.0.0.1 7896
KillMode=process
Restart=on-failure

[Install]
WantedBy = multi-user.target
